{% load staticfiles static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="{% static "js/centrifuge.js" %}" type="text/javascript"></script>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/TweenMax.min.js"></script>
        <script type='text/javascript'>


            var getRandomInt = function(min, max) {return Math.floor(Math.random() * (max - min + 1)) + min;}

            var url = 'ws://127.0.0.1:8080/connection/websocket';

            var user = "" + getRandomInt(10, 20000);
            var timestamp = parseInt(new Date().getTime()/1000).toString();

            var token = 'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiI0In0.gZy2PH_4qficeLP61hE1F-7e6RbBdJmXp3s6ncxXfco';

            var cookie = document.cookie;
            if (!(typeof(cookie) == 'string') || cookie == '' ) {
               document.cookie = token + user + new Date().getTime().toString();
            }
            console.log('cookie', document.cookie);

            <!--if (typeof(cookie) == 'string') {-->
              <!--var expired = parseInt(cookie.split(' expired ')[1])-->
              <!--console.log('exp', expired, cookie)-->
              <!--if (parseInt(new Date().getTime()/1000 ) > expired) {-->
                <!--document.cookie = user + token + timestamp + ' expired ' + (parseInt(new Date().getTime()/1000) + 86400).toString();-->
              <!--}-->
            <!--} else {-->
              <!--document.cookie = user + token + timestamp + ' expired ' + (parseInt(new Date().getTime()/1000) + 86400).toString();-->
            <!--}-->

            var centrifuge = new Centrifuge({
                "url": url,
                "user": user,
                "timestamp": timestamp,
                "token": token,
                "debug": true
            });
            centrifuge.setToken(token);
            centrifuge.connect();

            centrifuge.on('connect', function() {
                console.log("connected to Centrifugo with user ID " + user);
            }, function(err) {
                    console.log('connection error');
            });

            centrifuge.on('disconnect', function(){
                console.log('disconnected from Centrifuge');
            });

            function publishMessage(message) {
              console.log(message);
              var ol = document.getElementById("chat-messages-list");
              var li = document.createElement("li");
              li.innerHTML = message.data;
              ol.appendChild(li);
              $('.chat-input')[0].innerText = '';
            }

             centrifuge.subscribe(document.cookie, function(message) {
                console.log(message);
                publishMessage(message);
            });


          function sendMessagetoServer() {
              var text = $('.chat-input')[0].innerText;
              if (text.length > 0) {
                  $.ajax({
                    type: 'POST',
                    url: 'http://127.0.0.1:7000/chat_post/',
                    data: {token: token, client_id: document.cookie, text: text},
                    success: function (response) {
                      console.log(response);
                      publishMessage({'data': text});
                    },
                    error: function (request, status, error) {
                       publishMessage({'data': text});
                    }
                  });
               }
            }

        </script>
        <meta charset="UTF-8">
        <h>Вы залогинены как {{user.username}}</h>
        <p><a href="/">Главная</a></p>
    </head>
    <body>
        <div class="content">
            <div class="chat-window">
                <div class="chat-messages" style="height: 406px;">
                    <ol class="chat-messages-list" id="chat-messages-list" style="color:white;">
                        <li>default message</li>
                    </ol>
                </div>
                <div class="chat-input-bar">
                    <div class="chat-info-container">

                    </div>
                    <div class="chat-effect-container" style="-webkit-filter: none; filter: none;">
                        <div class="chat-effect-bar"></div>
                    </div>
                    <div class="chat-input-wrapper">
                        <button class="chat-input-tool">
                            <i class="icon icon-camera"></i>
                        </button>
                        <div class="chat-input" contenteditable=""></div>
                        <button type="submit" class="send-button" onclick="sendMessagetoServer()">
                            Отправить
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>

